#titleDiv{
    width : 60%;
}
#contact-div{
    background-color:FFC4E1;
    margin: 20px 50px 80px;
    padding: 1%;
    border: 2px solid black;
}

#about-div{
    background-color:FFC4E1;
    margin: 20px 50px 80px;
    padding: 1%;
    border: 2px solid black;

}